.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/8.10/checksums/checksums.lock
.gradle/8.10/checksums/md5-checksums.bin
.gradle/8.10/checksums/sha1-checksums.bin
.gradle/8.10/dependencies-accessors/gc.properties
.gradle/8.10/executionHistory/executionHistory.bin
.gradle/8.10/executionHistory/executionHistory.lock
.gradle/8.10/expanded/expanded.lock
.gradle/8.10/fileChanges/last-build.bin
.gradle/8.10/fileHashes/fileHashes.bin
.gradle/8.10/fileHashes/fileHashes.lock
.gradle/8.10/fileHashes/resourceHashesCache.bin
.gradle/8.10/gc.properties
.gradle/8.14.4/checksums/checksums.lock
.gradle/8.14.4/checksums/md5-checksums.bin
.gradle/8.14.4/checksums/sha1-checksums.bin
.gradle/8.14.4/executionHistory/executionHistory.bin
.gradle/8.14.4/executionHistory/executionHistory.lock
.gradle/8.14.4/fileChanges/last-build.bin
.gradle/8.14.4/fileHashes/fileHashes.bin
.gradle/8.14.4/fileHashes/fileHashes.lock
.gradle/8.14.4/fileHashes/resourceHashesCache.bin
.gradle/8.14.4/gc.properties
.gradle/vcs-1/gc.properties
build/tmp/javadoc/javadoc.options
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileJava/compileTransaction/stash-dir/
build/classes/
build/resources/main/logback.xml
.idea/
